.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  
  background-color: var(--background-clr);
}


:root {
  --btn-clr: #f9bc60;
  --btn-hover-clr: #f69f1d;
  --btn-active-clr: #c77a07;
  
  --btn-text-clr: #001e1d;
  
  --background-clr: #abd1c6;
  --page-clr: #004643;
  --page-title-clr: #fffffe;
  --page-text-clr: #abd1c6;
  
  --card-clr: #e8e4e6;
  --card-title-clr: #001e1d;
  --card-title-size: 28px;
  --card-title-weight: 600;
  
  --card-text-clr: #0f3433;
  --card-text-size: 16px;
}