.btn {
  background-color: var(--btn-clr);
  color: var(--btn-text-clr);
  
  width: 80px;
  height: 30px;
  
  border-radius: 6px;
  border: none;
  
  font-weight: 600;
  
  transition: background-color .2s, transform .2s;
  -webkit-transition: background-color .2s, transform .2s;
  -moz-transition: background-color .2s, transform .2s;
}

.btn:hover {
  background-color: var(--btn-hover-clr);
}

.btn:active {
  background-color: var(--btn-active-clr);
  transform: scale(0.98);
}